.fond-ecran{
    background-color: #54545440;
    background-size: cover;
    min-height: 100vh;   
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.connexion{
    width: 625px;
    height: 680px;
    border-radius: 30px ;
    background-color: #F5F5F5;
}

.connexion h4{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;

}
.paragraphe {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.consultant{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 278px;
    height: 110px ;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.row h6 {
    font-weight: bold;
}

.expert{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 278px;
    height: 110px ;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid #57C4EB
}
.form{
    margin: 20px 0px 5px 20px;
}

.form label{
    display: block;
}

.form input{
    width: 570px;
    height: 59px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.login{
    width: 570px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    color: white;
    margin-bottom: 20px;
}

.gradient{
    color: #57C4EB;
    cursor: pointer;
    pointer-events: auto;
    background-clip: text;
    font-weight: bold;
    text-decoration: none;
}
.gradient:hover,
.gradient:visited {
    text-decoration: none;
}

.warning{
    display: flex;
    gap: 6px;
}