.fond-ecran{
    background-color: #54545440;
    background-size: cover;
    min-height: 100vh;   
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.connexion{
    width: 625px;
    height: 670px;
    border-radius: 30px ;
    background-color: #F5F5F5;
    position: relative;
}

.connexion h4{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 36px;


}
.paragraphe {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: #545454;
}

.form{
    margin: 20px 0px 5px 20px;
}

.complement{
    margin: 20px 0px 5px 20px;
}

.warning{
    display: flex;
    gap: 6px;
}

.form label{
    display: block;
}

.form input{
    width: 570px;
    height: 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
}

.inline-checkbox {
  display: flex;
  align-items: center; 
  gap: 8px;
}



.form-group{
    margin-bottom: 15px;
}

.inscription{
    width: 570px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
}

.gradient{
    color: #C94B91;
    background-clip: text;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.gradient:hover,
.gradient:visited {
    text-decoration: none;
}

.back{
    border: none;
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 81px;
    height: 49px;
    background: none;
    
}