.background {
    margin: 0;       
    padding: 0;      
    height: 100vh;   
    width: 100vw;
    background-image: url('/dessin-vde.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.cercle {
    width: 40%;
    height: 80%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 134px;
    height: 158px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
